# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
# output/  # Uncomment if you don't want to push results
data/onboarding.1txt # Old typo file
